<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite1" verbose="3">
	<test name="Test1">
		<classes>
			<class name="com.testng.demo.TestNGDemo">
				<methods>
					<include name="method2" />
					<include name="method1" />
	<!-- <exclude name="method2" /> -->
				</methods>
			</class>
		</classes>
	</test>
</suite>